/* src/assets/styles/components/_button.scss  */
.btn {
  padding: 10px 48px;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-gilroy;
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 1px;
    background-color: $color-dark;
    left: -12.5px;
    top: 50%;
  }

  &__black {
    color: $color-dark;
    border: 1px solid rgba($color-dark, 0.3);
  }
}
