/* src/assets/styles/components/_button.scss  */
.btn {
  padding: 10px 48px;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-gilroy;
  font-weight: 800;
  position: relative;
  display: inline-block;
  background-color: $color-transparent;
  cursor: pointer;

  &:before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 1px;
    left: -12.5px;
    top: 50%;
  }

  &__black {
    color: $color-dark;
    border: 1px solid rgba($color-dark, 0.3);
    @include btnHover($color-dark);

    &:before {
      background-color: $color-dark;
    }
  }

  &__white {
    color: $color-default-white;
    border: 1px solid rgba($color-default-white, 0.3);
    @include btnHover($color-default-white);

    &:before {
      background-color: $color-default-white;
    }
  }
}
