mixin works-item (title, img)
  a.works__item(href="#")
    .works__img
      img(src=img)
    p.works__title=title
    .works__body
      .works__body-item
        p Сроки
        p.b 4 — 5 дней
      .works__body-item
        p Стоимость
        p.b Нет данных
