/* src/assets/styles/layout/_page.scss  */

.page {
  &__title{
    font-size: 32px;
    line-height: 40px;
    position: relative;
    margin-bottom: 48px;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: -70px;
      height: 1px;
      width: 40px;
      background-color: $color-dark;
    }
  }
}
