//- src/views/components/footer.pug

footer.footer.container
  .footer__item
    p
      b © 2022 Сompany.#{' '}
      | Соглашение об обработке персональных данных и политика конфиденциальности
  .footer__item(style="flex-shrink: 0;")
    p Сделано в#{' '}
      a.link.footer__link(href="#") Palladiumlab

