nav.menu#menu
  .menu__icon.menu__icon-map
    +icon-map
    .menu__map
      p
        span Адрес:#{' '}
        | Москва, ул. Уличная, д. 1, оф. 1
      p
        span Режим работы офиса:#{' '}
        | Пн-Вт: 1000 — 1900; Сб-Вс: 1000 — 1500
  .menu__icon.menu__icon-phone
    +icon-phone
    .menu__phone
      p
        a(href="tel:8 (800) 900-00-00") 8 (800) 900-00-00
      a.btn.btn__black(href="#") Заказать звонок
        span
        span
        span
        span
        span
  .menu__middle
    ul.menu__list.ml-auto
      li.menu__item.menu__item-active
        a.menu__link(href='/') Главная
      li.menu__item
        a.menu__link(href='/') О компании
      li.menu__item
        a.menu__link(href='/') Услуги
    a.menu__logo(href="#")
      +icon-logo
    ul.menu__list.ml-auto
      li.menu__item
        a.menu__link(href='/') Цены
      li.menu__item
        a.menu__link(href='/') Портфолио
      li.menu__item
        a.menu__link(href='/') Контакты
