nav.menu.menu-transparent
  a.menu__icon.menu__icon-left(href="#")
    +icon-map
  .menu__midle
    ul.menu__list.ml-auto
      li.menu__item.menu__item-active
        a.menu__link(href='/') Главная
      li.menu__item
        a.menu__link(href='/') О компании
      li.menu__item
        a.menu__link(href='/') Услуги
    a.menu__logo(href="#")
      +icon-logo
    ul.menu__list.ml-auto
      li.menu__item
        a.menu__link(href='/') Цены
      li.menu__item
        a.menu__link(href='/') Портфолио
      li.menu__item
        a.menu__link(href='/') Контакты
  a.menu__icon.menu__icon-right(href="#")
    +icon-phone
